<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>0</strong> items Pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a class="selected" href="#/">Todos</a>
    </li>
    <li>
      <a href="#/active">Pendientes</a>
    </li>
    <li>
      <a href="#/completed">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed">Clear Completed</button>
</footer>