<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>0</strong> items Pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">

<!-- selected -->
<!-- (click)="cambiarFiltro( filtro )" para saber a que filtro le hice click. ( filtro ) es el mismo que el let filtro -->
    <li (click)="cambiarFiltro( filtro )" *ngFor="let filtro of filtrosValidos"> <!-- para obtener los filtros de forma dinamica -->
      <a [ngClass]="{ 'selected': filtro === filtroActual }">{{ filtro }}</a>
    </li>

  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed">Clear Completed</button>
</footer>